<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<head>
<title>Perl Survey 2009</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <script src="[% c.uri_for('/static/js/jquery-latest.js')%]"></script>
  <script src="[% c.uri_for('/static/js/simplemultiselect.js')%]"></script>
  <link rel="stylesheet" href="[% c.uri_for('/static/css/jquery.autocomplete.css') %]" type="text/css" />
 <script type="text/javascript" src="[% c.uri_for('/static/js/jquery.bgiframe.min.js') %]"></script>
  <script type="text/javascript" src="[% c.uri_for('/static/js/jquery.autocomplete.js') %]"></script>
<!--  <link rel="stylesheet" href="[% c.uri_for('/static/css/elastic.css')  %]" type=
"text/css" media="screen, projection">
 <link rel="stylesheet" href="[% c.uri_for('/static/css/elastic.print.css')  %]" type="text/css" media="print"> -->
  <link rel="stylesheet" href="[% c.uri_for('/static/css/RMSforms-v0.5.css')  %]" type="text/css" media="screen, projection">
 <link rel="stylesheet" href="[% c.uri_for('/static/css/local.css')  %]" type="text/css" media="screen, projection">

<body>
[% content %]
</head>
